:root{
  --bg:#fdfce8;
  --dun:#fdfce8;
  --lion:#CBAF87;
  --darkcok:#391e10;
  --text: #000000;
  --butt: #f1930fe9;
  --font:'Plus Jakarta Sans',system-ui,sans-serif;}

@keyframes navigasi {
    from {
        background: transparent;
    }
    
    to {
        background: #A87449;
        color: #fdfce8;
    }
}
 
/* navigasi */
nav{
  position:sticky;
  top: 0px;
  z-index: 999;
  background: var(--bg);
  animation: navigasi linear;
  animation-timeline: scroll(root);
  animation-range: 0px 300px;
  transition: background-color .4s ease,
        box-shadow .4s ease,
        padding .4s ease;
  animation-fill-mode: forwards;
  padding:0 5%;height:60px;
  display:flex;align-items:center;justify-content:space-between
}

nav.scrolled{
    background:#A87449;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.nav-left{
    display:flex;
    align-items:center;
    gap:1.2rem}
.nav-logo{
    font-size:1.3rem;
    font-weight:800;
    letter-spacing:.12em;
    color:#000000}
.nav-logo span{
    color:#000000}
.nav-tagline{
    font-size:.75rem;
    color:#000000;
    border-left:1.5px solid var(--lion);
    padding-left:1rem;
    line-height:1.35;
    max-width:160px}
.nav-right{
    display:flex;
    align-items:center;
    gap:.12rem}
.btn-group{
    display: flex;
    gap: 12px; /* Jarak antar tombol */}

.btn{
    display: inline-block;
    padding: 20px 20px;
    border-radius: 100px;
    transition: all .3s ease;}
.btn.btn-primary{
    background: transparent;
    border: none;
    color: var(--text);}

.btn.btn-primary.active{
    background: #8B5E3C;
    color: white;}

.btn{
    background: transparent;
    border:1px solid #8B5E3C;
    color:var(--text);
    border: 1px solid #8B5E3C;
    border-right: 1px solid #8B5E3C;
    transition: all .3s ease-in-out;
    transition: all .3s ease;}

.btn:hover{
    border-color: var(--lion);
    background: var(--bg);
    color: var(--butt);}

.btn:hover::after { transform: scaleX(1); }

#shop,
#about,
#faq,
#contact,
#chart{
    scroll-margin-top: 80px;}

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active{
    background: transparent !important;
    border: 1px solid #8B5E3C !important;
    color: var(--text) !important;
    box-shadow: none !important;
}

.btn.current{
    background: #8B5E3C !important;
    color: var(--text) !important;
}
